.customFooter {
  background-color: #45526e !important;
  color: #fff;
}

.customFooter a {
  color: #fff;
}

.customIcon a {
  border: 1px solid #fff;
  width: 25px;
  height: 25px;
  margin: 2px;
  padding: auto;
  border-radius: 25px;
}
