.partners-container {
  border: 1px solid black;
  width: 100%;
  height: auto;
  margin-top: 4%;
}

.partners-container body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}